@import 'src/styles/mixins.scss';
@import 'src/styles/layout.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    & > div {
        position: relative;
        margin: 90px 0px 50px;

        @media ($media_mobile) {
            margin: 75px 15px 90px;
        }
    }
}
.cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 15px;
    gap: 7px;
    background: var(--color-black-100);
    border-radius: 6px;

    &_video {
        width: 140px;
        height: 140px;
    }
}

.description {
    color: var(--color-white-100-tr);
}

.wrapper {
    display: flex;
    max-width: 100%;
    padding: 0 10px;
    justify-content: center;
}

.chart {
    flex: 1;
    width: calc(90vw - 390px);
    height: unset;

    & + .form_wrapper {
        background-color: var(--color-black-100);
        padding: 14px;
        border-radius: 6px;
        
        .form {
            width: min(100vw, 390px);
        }
    }
}

.widget {
    &.with_chart {
        width: auto;
        min-height: calc(90vh - 120px - 50px);
        display: flex;
        flex-direction: column;
    }
    & > div:last-child {
        flex-direction: row;
        flex: 1;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: calc(min(100vw, 390px) - 4px);
}

.pencil {
    background-color: var(--color-black-100rt);
    min-width: 20px;
}

.swap_price {
    color: var(--color-white-100-tr5);
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

.orange {
    color: var(--color-orange-100);
}

.warning {
    background: var(--color-black-100);
    padding: 15px;
    border-radius: 6px;
    
    @extend .orange;
}
